openapi: 3.2.0
info:
  title: Trimble Agriculture Data Materials API
  description: The Trimble Agriculture Data API (PTxAg FarmENGAGE API) provides REST endpoints for managing farms, fields, crop zones, boundaries, equipment activities, work orders, prescriptions, materials, and imagery. Enables third-party integrators to exchange precision agriculture data between field devices and farm management platforms. Serves over 180 million customer acres globally. Access requires registration at the Trimble Ag Developer Network.
  version: 3.0.0
  contact:
    url: https://agdeveloper.trimble.com/
    email: ag_api@trimble.com
servers:
- url: https://cloud.api.trimble.com/Trimble-Ag-Software/externalApi/3.0
  description: Trimble Agriculture Cloud API
security:
- bearerAuth: []
tags:
- name: Materials
paths:
  /organizations/{organizationId}/materials:
    get:
      operationId: listMaterials
      summary: List Materials
      description: Returns materials (seeds, fertilizers, chemicals) for an organization.
      tags:
      - Materials
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: type
        in: query
        schema:
          type: string
          enum:
          - Seed
          - Fertilizer
          - Chemical
          - Other
        description: Filter by material type
      responses:
        '200':
          description: List of materials
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Material'
    post:
      operationId: createMaterial
      summary: Create Material
      description: Add a material to the organization's product library.
      tags:
      - Materials
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MaterialInput'
      responses:
        '200':
          description: Material created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Material'
components:
  schemas:
    MaterialInput:
      type: object
      required:
      - name
      - type
      properties:
        name:
          type: string
        type:
          type: string
          enum:
          - Seed
          - Fertilizer
          - Chemical
          - Other
        manufacturer:
          type: string
        unit:
          type: string
    Material:
      type: object
      required:
      - id
      - name
      - type
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          description: Material/product name
        type:
          type: string
          enum:
          - Seed
          - Fertilizer
          - Chemical
          - Other
        manufacturer:
          type: string
        registrationNumber:
          type: string
        unit:
          type: string
          description: Default application unit (e.g., kg/ha, L/ha, seeds/ha)
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 bearer token. Register at agdeveloper.trimble.com to obtain API credentials.
